.item-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;

  &__pagination {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .el-pagination {
    align-self: center;
  }
  .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
    background-color: #dbdcde;
    color: #303133;
  }
}