.title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

.sub-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.text {
  line-height: 22px;
  font-size: 14px;
}

.el-form-item__content {
  margin-left: 0 !important;
}

.link-active {
  border-bottom: 1px solid;
}