.title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

.sub-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.text {
  line-height: 22px;
  font-size: 14px;
}

.el-form-item__content {
  margin-left: 0 !important;
}

.link-active {
  border-bottom: 1px solid;
}

.el-button {
  padding: 8px 20px !important;
}

.el-dialog__header,
.el-dialog__body,
.el-dialog__footer {
  padding: 0 !important;
}

.el-dialog__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  @media(max-width: 767px) {
    padding: 0 10px;
  }
}

.el-dialog {
  padding: 16px;
  width: 35% !important;
  margin: 0 !important;
  @media(max-width: 767px) {
    width: 100% !important;
  }
}